* {
    box-sizing: border-box;
  }
  body
  {
  background-color: #F9FFEE;
  margin: 0;
      height: 1000px;
  }
  
  /*DESIGN FOR NAV BAR*/
      .nav {
    width: 100%;
    top: 0%;
    background-color: #D9E0C9;
    overflow: auto;  
  }
  .nav a 
  {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: 25px;
    width:  33.33%;
    text-align: center;
    border : 1.5px solid #4C4E4F;
    border-radius: 0px;
    
  }
  .nav a:hover
  {
        background-color: #C7D5DB;
  }
      
  .calender-board{
      display: grid;
      justify-content: center;
      min-height: 94vh;
      grid-template-columns: repeat(7,150px);
      grid-template-rows: repeat(5,150px);
      row-gap: 3px;
      column-gap: 3px;
  }
  .date{
      border: 3px black solid;
      padding: 3px;
      font-family: Arial, Geneva, Helvetica, sans-serif;
      color: black;
      font-size: 20px;
  }
  .month{
      font-family: Arial, Geneva, Helvetica, sans-serif;
      color: black;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(7,150px);
      grid-template-rows: repeat(1,20px);
      align-items: center;
      margin-left: 110px;
      font-size: 25px;
      
  }
  #month-header{
      text-align: center;
      color: black;
      font-size: 50px;
  }
  .past-month{
      border: 3px grey solid;
      padding: 3px;
      font-family: Arial, Geneva, Helvetica, sans-serif;
      color: black;
      opacity: 60%;
      font-size: 20px;
  }