<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/homestyle.css}" rel="stylesheet">

<title>Home Page</title>

</head>
<body>

<!---->

	<!--NAV BAR ELEMENTS-->
	<div class="nav"> 
	  <a href="/home">Home</a> 
	  <a href="/calendar">Calendar</a> 
	  <a href="/prioritypage">Priority</a>
	</div>
		
		
	<!--RECTANGLES HOLDING BUTTONS AND LISTS OF TASKS-->
	<div class="column">
		<div class="rectangle">
        	<h1 class="boxHeaders">School</h1>
            <button class="button" onclick="usertask()" id="schooltask">+</button>
            <div class="tasklist">
            	<ol style="list-style-type:none" id="schoollist" class="listsizing"></ol>
            	<p id="text"></p>
            </div>
		</div>
	</div>


</body>
</html>
